{% extends "base.html" %}

    {% block content %}
<h1 style="text-align:center">График аппрокцисмации по заданным точкам</h1>
<form class="form-inline" method="POST" action="{{ url_for('test') }}">
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon"><b>Выберите функцую приближения</b></span>
        <label>
            <select name="graph_select" class="selectpicker form-control">
              {% for o in data %}
              <option value="{{ o.name }}">{{ o.name }}</option>
              {% endfor %}
            </select>
        </label>
        <button type="submit" class="btn btn-default">Go</button>
    </div>
  </div>
</form>
    {% endblock %}