{% extends "base.html" %}

    {% block content %}
<form action="/graph" method="GET">
            <p>
                <label for="number">Выберите модель:</label>
                <select id="number" name="graphic" required>
                    <option></option>
                    <option value="{{graphic}}" name = "exponential">Экспонента</option>
                    <option value="{{graphic}}" name = "linear">линейная</option>
                    <option value="{{graphic}}" name = "quadratic">квадратичная</option>
                </select>
            </p>
  <input type="text" value="{{name}}" name="name" />
    <input type="submit" value="Отправить" />
</form>
<section>
  <h2>Heatmap</h2>
  <img src="data:image/png;base64, {{ plot_url }}">
</section>
    {% endblock %}