{% extends "base.html" %}

{% block content %}

<header>
    <div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Главная</a></li>
        <li class="nav-item"><a href="name" class="nav-link">2</a></li>
        <li class="nav-item"><a href="hello" class="nav-link">3</a></li>
        <li class="nav-item"><a href="static.html" class="nav-link">4</a></li>
      </ul>
    </header>
  </div>
</header>
<p>Привет! Можно:</p>
<ul>
  <li><a href="name">увлекательно поиграть в «Здравствуй, Анонимус»</a>;</li>
  <li><a href="hello">получить немного плоского текста</a>;</li>
  <li><a href="static.html">посмотреть статическую страницу</a>.</li>
</ul>
{% endblock %}
